/**
 * Bootstrap
 */
/**
 * crane
 */
/**
 * mixin - rato
 */
/**
 * base
 */
html {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  letter-spacing: .05em; }

/**
 * main
 */
main {
  position: relative;
  z-index: 1; }

/**
 * section
 */
.c-section-full {
  min-height: 568px;
  height: 100vh; }

.c-section-large {
  min-height: 90vh; }

.c-section-medium {
  min-height: 60vh; }

/**
 * flex
 */
.c-flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }

.c-flex-c-c {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

/**
 * ratio
 */
.c-rato {
  position: relative;
  width: 100%; }
  .c-rato:before {
    content: "";
    display: block;
    padding-top: 75%; }

/**
 * .c-rato__width-height
 */
.c-rato__1-1:before {
  padding-top: 100%; }

.c-rato__4-3:before {
  padding-top: 75%; }

.c-rato__8-5:before {
  padding-top: 62.5%; }

.c-rato__12-5:before {
  padding-top: 41.66667%; }

.c-rato__16-9:before {
  padding-top: 56.25%; }
