/**
 * header
 */
.p-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(#fff,.3);
  box-shadow: 0 0 5px 0 rgba(#000,.15);
  z-index: 10;
}

.p-header__logo {

  svg {
    width: 50px;
    stroke:#F2C33D;
    stroke-width: 12px;
    margin-right: .2em;
    vertical-align: middle;
  }
}

.p-header__title {
  color: #F2C33D;
  font-size: 1.6em;
  vertical-align: middle;
}

.p-header--top {
  background-color: rgba(#fff,0);
  box-shadow: none;

  .p-header__logo {
    svg {
      stroke:#fff;
    }
  }//.p-header__logo

  .p-header__title {
    color: #fff;
  }//.p-header__title

}//.p-header--top



