/**
 * header
 */
.p-header {
  position: relative;
  width: 100%;
  padding: 1em 0;
  background-color: rgba(#fff,.3);
  box-shadow: 0 0 5px 0 rgba(#000,.15);
  z-index: 10;
}

.p-header__logo {

  svg {
    width: 50px;
    stroke:#F2C33D;
    stroke-width: 12px;
    margin-right: .2em;
    vertical-align: middle;
  }
}

.p-header__title {
  color: #F2C33D;
  font-size: 1.6em;
  vertical-align: middle;
}
