/**
 * ページTOP
 */
.p-splash-screen {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #F2C33D;
  text-align: center;
  color: #fff;
  z-index: 99;
}

.p-splash-s__logo {
  margin: 0;

  svg {
    width: 150px;
    stroke:#fff;
  }
}

.p-splash-s__title {
  height: 32px;
  width: 200px;
  margin: auto;
  margin-top: 0;
  font-size: 0;
  letter-spacing: .2em;

  span {
    vertical-align: bottom;
  }
}


/**
 * keyframes
 */
@keyframes splash-s01 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes splash-s02 {
  0% {
    opacity: 0;
    font-size: 2rem;
    letter-spacing: .2em;
  }

  50% {
    opacity: .8;
    font-size: 2.2rem;
  }
  100% {
    opacity: 1;
    font-size: 2rem;
    letter-spacing: .2em;
  }
}
@keyframes splash-s03 {
  0% {
    opacity: 1;
    z-index: 99;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}
@keyframes splash-s04 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}



.p-splash-s__anim--01 {
  animation: splash-s01 .5s ease 0s both;
}

.p-splash-s__anim--02 {

  span {
    animation: splash-s02 1s ease .5s both;

    @for $i from 2 through 8 {
      &:nth-child(#{$i}) {
        animation-delay: (0.5 + ( ( $i - 1 ) * 0.2 ) )#{s};
      }
    }
  }
}

.p-splash-s__anim--03 {
  animation: splash-s03 2s ease 3.5s both;
}
.p-splash-s__anim--04 {
  animation: splash-s04 2s ease 3.5s both;
}
