/**
 * top
 */
.p-top {

  position: relative;
  background-image: url('../images/top/top-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    width: 100%;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(#000,.3);
    z-index: 2;
  }
}

.p-top__text {
  position: relative;
  color: #fff;
  z-index: 3;
  line-height: 1.8;

  h2 {
    position: relative;
    font-size: 1.6em;
    padding-bottom: .5em;
    margin-bottom: 1.5em;
    letter-spacing: .2em;

    &:after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 80%;
      height: 1px;
      background-color: rgba(#fff,.5);
    }
  }
}

.p-top__button{
  margin-top: 2em;

  a {
    padding: .5em 1em;
    border: 1px solid #fff;
    border-radius: 4px;
    font-size: .9em;
    color: #fff;
    text-decoration: none;
  }

}

@include media-breakpoint-up(sm) {
}